<h1>Make Another User Account aka Vet Log-In</h1>

<%= render 'form', vet_user: @vet_user %>

<%= link_to 'Back', vet_users_path %>
<h3>/Users/eileenulry/dropbox/closure2/ClosureAtHome/app/views/vet_users/new.html.erb</h3>
